.message-dropdown.content-background-color(style="display: block")
  %ul
    %li.message-dropdown-close.secondary-background-color.border-component-color
      %i.icon-angle-left(aria-label="Close")
    %li.jump-to-message.message-action(title="Jump to message" data-id="jump-to-message")
      %i.icon-right-hand(aria-label="Jump to message")
