- if is_popup_open(@chatd) do
  .message-popup-position
    %div(class="message-popup content-background-color #{get_popup_cls(@chatd)}")
      = @chatd[:data]
      - if _loading = get_loading(@chatd) do
        - # do loading
