- unless @data[:system] do
  - status = @data[:status]
  %div(class="popup-user-status border-transparent-dark popup-user-status-#{status}")
  .popup-user-avatar(style="background-image:url({{avatarUrlFromUsername username}});")
%strong= @data[:username]
= @data[:name]
