!!! 5
%html.js.no-touch.cssanimations.csstransitions.csscalc.noscroll(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Hello UcxChat!
    %link(rel="stylesheet" href='#{static_path(@conn, "/fontello/css/fontello.css")}')
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')
    - #%link(rel="stylesheet" text="text/css" class="__meteor-css" href="https://cdn-demo.rocket.chat/d7aa140fff6402329af2f0b8a433f4159ab0bd7a.css?meteor_css_resource=true")
    - #%link(rel="stylesheet" text="text/css" class="__meteor-css" href="https://cdn-demo.rocket.chat/adf063c8332fe4b6085c2128229d09a55098f1a2.css?meteor_css_resource=true")
    - #%link(rel="stylesheet" text="text/css" class="__meteor-css" href="https://cdn-demo.rocket.chat/theme.css?263177fe48fc50f8f3a293f71d82a13449ab1e69")
    - #%script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    %script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
  %body.global-font-family.color-primary-font-color
    = render @view_module, @view_template, assigns

  %script(src='#{static_path(@conn, "/js/app.js")}')
