:javascript
  window.gettext = {
    are_you_sure: '#{~g"Are you sure?"}',

    are_you_sure_leave_the_room: '<%= ~g"Are you sure you want to leave the room" %>',
    are_you_sure_you_want_to_hide_the_room: '<%= ~g"Are you sure you want to hide the room" %>',

    yes_leave_it: '<%= ~g"Yes, leave it!" %>',
    yes_delete_it: '<%= ~g"Yes, delete it!" %>',
    yes_hide_it: '<%= ~g"Yes, hide it!" %>',
    yes_mute_user: '<%= ~g"Yes, mute user!" %>',
    yes_hide_it: '<%= ~g"Yes, hide it!" %>',

    muted: '<%= ~g"muted" %>',
    removed: '<%= ~g"Removed" %>',
    cancel: '<%= ~g"Cancel" %>',
    deleted: '<%= ~g"Deleted" %>',
    not_deleted: '<%= ~g"Not Deleted" %>',

    left_the_room: '<%= ~g"Left the room" %>',

    you_have_left_the_room: '<%= ~g"You have left the room" %>',
    the_user_wont_able_type: '<%= ~g"The user wont be able to type in" %>',
    the_user_will_be_removed_from: '<%= ~g"The user will be removed from" %>',
    the_user_was_remove_from: '<%= ~g"The user was remove from" %>',
    deleting_user_delete_messages: '<%= ~g"Deleting a user will delete all messages from that user as well. This cannot be undone." %>',
    the_user_has_been_deleted: '<%= ~g"The user has been deleted" %>',
    the_user_was_not_deleted: '<%= ~g"The user was not deleted" %>',
    deleting_room_cannot_undone: '<%= ~g"Deleting a room will delete all messages posted within this room.\nThis cannot be undone." %>',
    the_room_has_be_deleted: '<%= ~g"The room has be deleted" %>',
    you_will_not_be_able_to_recover_this_message: '<%= ~g"You will not be able to recover this message!" %>',
    your_entry_has_been_deleted: '<%= ~g"Your entry has been deleted." %>',
    are_also_typing: '<%= ~g"are also typing" %>',
    are_typing: '<%= ~g"are typing" %>',
    is_also_typing: '<%= ~g"is also typing" %>',
    is_typing: '<%= ~g"is typing" %>',
    start_of_conversation: '<%= ~g"Start of conversation" %>',
    template: '<%= ~g"" %>',

  }
