%h3(class="add-room#{is_active(@item)}")
  Direct_Messages
  %span.room-count-small= "(#{length @item[:rooms]})"
%ul
  - if @item[:rooms] != [] do
    - for room <- @item[:rooms] do
      = render "chat_room_item", item: room
  - else
    %p.empty No direct messages yet
