%h3(class="add-room#{is_active(@rooms)}")
  Direct_Messages
  %span.room-count-small= "(#{length @rooms})"
%ul
  - if @rooms != [] do
    - for room <- @rooms do
      = render "chat_room_item", room: room
  - else
    %p.empty No direct messages yet
