%h3(class="add-room#{is_active(@rooms)}")
  - if @account.chat_mode do
    Recent
  - else
    Direct Messages
  %span.room-count-small= "(#{length @rooms})"
%ul
  - if @rooms != [] do
    - for room <- @rooms do
      = render "chat_room_item.html", room: room
  - else
    %p.empty No direct messages yet
