.wrapper
  - for room_type <- @chatd.room_types do
    - if room_type[:can_show_room] do
      = render room_type[:template_name], rooms: room_type[:rooms], account: @chatd.user.account
  - if @chatd.room_types[:can_view_history] do
    %h3.history-div
      - # <a href="{{pathFor 'privateHistory'}}">{{_ "History"}}</a>
      %a{href: "#"} History
