- if @item[:rooms] != [] do
  %h3(class="#{is_active(@item)}")
    %i.icon-star
    Favorites
    %span.room-count-small "(#{length @item[:rooms]})""
  %ul
    - for room <- @item[:rooms] do
      = render "chat_room_item.html", item: room
