.toolbar
  .toolbar-wrapper
    .toolbar-search
      %i.toolbar-search__icon.icon-search
      %input.toolbar-search__input.background-transparent-light.color-content-background-color.border-transparent-lighter(placeholder="Search" type="text" name="toolbar-input")
      %i.toolbar-search__icon.toolbar-search__icon--cancel.icon-cancel
    .toolbar-search__buttons
      %i.toolbar-search__create-channel.icon-plus
