%div(class="unread-rooms-mode #{@rooms.hasUnread}")
  %h3
    Unread_Rooms
    %span.room-count-small= length @rooms
  %ul
    - for room <- @rooms do
      = render "chat_room_item.html", room: room
