$body-font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Meiryo UI';
$transparent-darkest: rgba(0,0,0,0.5);
$transparent-darker: rgba(0,0,0,0.15);
$transparent-dark: rgba(0,0,0,0.05);
$transparent-light: rgba(255,255,255,0.10);
$transparent-lighter: rgba(255,255,255,0.30);
$transparent-lightest: rgba(255,255,255,0.60);
$content-background-color: #FFFFFF;
$primary-background-color: #6c6c6c;
// $primary-background-color: #04436A;
// $primary-background-color-hover: #022840;
$primary-background-color-hover: #808080;
$primary-font-color: #444444;
// $primary-action-color: #6c6c6c;
$primary-action-color: #5a7920;
$secondary-background-color: #F4F4F4;
$secondary-font-color: #A0A0A0;
$secondary-action-color: #DDDDDD;
$component-color: #EAEAEA;
$success-color: #4dff4d;
$pending-color: #1ec7f1;
// $pending-color: #FCB316;
$error-color: #BC2031;
$selection-color: #02ACEC;
$attention-color: #9C27B0;
$content-background-color: #FFFFFF;
$secondary-font-color: #A0A0A0;
$secondary-action-color: #DDDDDD;
