/* This file is for your main application css. */
// @import "../_scss/theme/main";
@import "bourbon/app/assets/stylesheets/bourbon";
@import "../../../node_modules/mathsass/dist/math";
@import "../_scss/theme/imports/reset.scss";
@import "../_scss/theme/imports/messagepin.scss";
@import "../_scss/theme/imports/color_consts.scss";
@import "../_scss/theme/imports/variables.scss";
@import "../_scss/theme/imports/contrast.scss";
@import "../_scss/theme/imports/keyframes.scss";
@import "../_scss/theme/imports/mixins.scss";
@import "../_scss/theme/imports/colors.scss";
@import "../_scss/theme/imports/lesshat.scss";
@import "../_scss/theme/imports/rtl.scss";
@import "../_scss/theme/imports/forms.scss";
@import "../_scss/theme/imports/base.scss";
@import "../_scss/theme/imports/permissions.scss";
@import "../_scss/theme/imports/admin.scss";
@import "../_scss/theme/imports/notifications.scss";

.flex-nav input {
  color: #fff;
}
.help-block {
  color: red;
  padding-top: 2px;

}
#login-card .alert-danger {
  color: red;
  border-color: red;
}
.back-to-login {
  padding-top: 8px;
}
textarea.input-message::placeholder {
  color: #bbb;
  font-weight: 400;
  font-family: icons;
}
.invite-users .outstanding {
  padding-left: 20px;
}
.invite-users .outstanding h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}
.invite-users .outstanding button {
  padding: 4px 8px;
}
.invite-users .outstanding li span {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 400;
}
.invite-users .outstanding li span .icon-verified {
  color: green;
}
.invite-users .outstanding li {
  padding-bottom: 5px;
}
.channel-settings span[data-edit] {
  cursor: pointer;
}
.channel-settings input.editing {
  margin-bottom: 5px;
}

blockquote,
pre code {
  a.auto-url {
    text-decoration: none;
    color: inherit;
    cursor: text;
    pointer-events: none;
    &:hover {
      color: inherit;
    }
  }
}
#emoji-picker {
  left: 10px !important;
}
.emojione.big {
  height: 44px !important;
  width: 44px !important;
}
