- defer = Application.get_env :ucx_chat, :defer, true
%header
  %div
    %h4 My Account
.content
  .wrapper
    %ul
      %li
        %a.account-link(data-link="preferences") Preferences
      %li
        - #{{#if allowUserProfileChange}}
        %a.account-link(data-link="profile") Profile
      - unless defer do
        %li
          - #{{#if allowUserAvatarChange}}
          %a.account-link(data-link="avatar") Avatar
