%h2 Listing channels

%table.table
  %thead
    %tr

      %th
  %tbody
    - for channel <- @channels do
      %tr

      %td.text-right
        = link "Show", to: channel_path(@conn, :show, channel), class: "btn btn-default btn-xs"
        = link "Edit", to: channel_path(@conn, :edit, channel), class: "btn btn-default btn-xs"
        = link "Delete", to: channel_path(@conn, :delete, channel), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"

= link "New channel", to: channel_path(@conn, :new)
